body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    background: linear-gradient(#ced0cbff, #0f3007b5);
} 

.banner img {
    max-width: 380px;
    width: 100%;
    margin: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.conteudo {
    
    background: linear-gradient(#0f3007b5, #1f740ab5), url(imagens/background.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1080px;
    overflow: hidden;
    display: flex;
    height: 500px;
}

.texto {
}

.conteudo form {
    float: left;
    width: 50%;
    box-sizing: border-box;

}