body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    min-width: 600px;
    font-size: 20px;
}
header {
    background: #1a5711;
    height: 60px;
    width: 100%;
    padding: 10px;
    position: fixed;
    top:0;
    left: 0;
} 

.banner img {
    height: 20px;
    margin: 0 7px ;
}   

.banner h1 {
    color: white;
    font-weight: bold;
    font-family: 'Zen Antique', serif;
    font-size: 1em;
}

.conteudo {
    margin: auto;
    margin-top: 80px;
    height: 100%;
    overflow: hidden;
    display: flex;
    background: linear-gradient(#bebec3 , #ffffffb5), 
    url(imagens/background.png);
    background-position: center;
    background-size: contain;
    justify-content: center;
}
    
.conteudo article, .texto-complementar article{
    min-width: 400px;
    max-width: 600px;
    text-align: center;
    margin:  5%;
    font-weight: bold;
}

.texto h2, .texto-complementar h2 {
    color: #0f6d02;
    font-size: 2em;
}

.texto p, .texto-complementar p {
    color: #0d4106;
}

.formulario {
    float: left;
    width: fit-content;
    min-width: 250px;
    max-width: 400px;
    height: fit-content;
    text-align: center;
    box-sizing: border-box;
    background: #a5bba2;
    border-radius: 15px;
    border:#0d4106 solid 3px;
    box-shadow: 7px 10px 10px #0d4106;
    margin:  5% 40px;
    padding: 20px 0;
}

.formulario input, .formulario select {
    width: 80%;
    margin: 8px;
    padding: 10px ;
    border-radius: 20px;
    border: transparent;
}

.formulario select {
    background-color: white; 
}

.formulario label {
    font-size: 12px;
    text-align: center;
    display: block;
    font-weight: bold;
    padding-top: 15px;
}

.checkbox input, .checkbox label{
    width: auto;
    display: inline;
    padding: 20px 0;
} 

#contato{
    color: #0d4106;
    text-align: start;
    padding-left: 40px;
    font-weight: bolder;
}

.formulario input[type="submit"] {
    background-color: #0d4106; 
    color: white;
    font-size: 16px;
    font-weight: bolder;
}

.formulario input[type="submit"]:hover {
    border: white solid 2px;
    box-sizing: border-box;
}

.formulario input[type="submit"]:active {
    background-color: white;
    color: #0d4106;
    border: #0d4106 solid 2px;
    box-sizing: border-box;
}

.texto-complementar {
    background: linear-gradient( #ffffffb5, #bebec3);
    height: 400px;
}

hr {
    width: 50%;
    border: 0;
    border-top: 2px solid #0f6d02;
    border-radius: 20px;
    margin: 80px auto;

}

.texto-complementar article {
    margin: auto;
    width: 50%;
}

footer {
    background: #1a5711;
    height:fit-content;
    display: flow-root;
}

footer img {
    height: 20px;
    margin: auto;
    margin-top: 30px;
    display: block;
}

footer p {
    color: white;
    font-size: 0.7em;
    text-align: center;
    margin-bottom: 20px;
}

strong {
    font-weight: bold;
    font-family: 'Zen Antique', serif;
}

@media screen and (max-width: 480px) {
.banner {
    display: flex;
    justify-content: center;
}
.conteudo  {
    display: grid;
    align-items: center;
}

.texto {
    display: contents;

}
.texto h2, .texto-complementar h2 {
    width: 300px;
    font-size: 20px;
}

.texto p, .texto-complementar p {
    width: 300px;
    font-size: 12px;
}
.formulario {
    margin: 30px auto;
    width: 300px;
}
.texto-complementar {
    height: 200px;
}
.texto-complementar article {
    min-width: 0;
}
}
