body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    background: linear-gradient(#2282edb5, #2c2c6a);
} 

.banner img {
    max-width: 380px;
    width: 100%;
    margin: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {
    background: linear-gradient(#2c2c6a , #2282edb5), 
    url(imagens/background.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.conteudo {
    margin: auto;
    max-width: 80%;
    overflow: hidden;
    display: flex;
    height: 500px;
    text-align: center;
    font-weight: bold;
}

.texto h2 {
    color: #9eee00;
}

.texto p {
    color: #ffff;
}

.formulario {
    float: left;
    width: 50%;
    box-sizing: border-box;
    background: #5eb4d7;
}